@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 2px; /* Ultra-thin vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}